<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Custom CSS -->
		{{!-- <link rel="stylesheet" href="/Burger/public/assets/css/burger.css" type="text/css"> --}}
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Font Awesome Icons -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- Custom Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Creepster" rel="stylesheet">
    
    <title>Eat Da Burger!</title>
</head>
<body>
    {{{body}}}
</body>
</html>