body{
    background-color: rgb(247, 211, 54);
}

.jumbotron {
    background-image: url("/Burger/public/assets/img/burger.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 10px;
}

.jumbotron > h1 > h2 {
    font-family: 'Creepster', cursive;
}

#task {
    border-radius: 5px;
}

